a{text-decoration:none;}
img{margin:0; padding:0; border:none;}

.justify{text-align:justify;}
.bold{font-weight:bold;}
.center{text-align:center;}
.right{text-align:right;}

.clear{display:inline-block;}
.clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden; line-height:0;}

.fl_left{float:left;}
.fl_right{float:right;}

html[xmlns] .clear{display:block;}

body{
	margin:0;
	padding:0;
	font-size:13px;
	font-family:Georgia;
	color:#F8F8F2;
	background-color:#03274B;
	}

#header, #content, #footer, #copyright{
	position:relative;
	margin:0 auto 0;
	display:block;
	width:960px;
	text-align:left;
	}

/* ----------------------------------------------Header-------------------------------------*/

#header{
	padding:25px 0 30px 0;
	color:#5F8EC2; background-color:#03274B;
	}

#header h1, #header p, #header ul{
	margin:0;
	padding:0;
	list-style:none;
	line-height:normal;
	}

#header h1{font-size:36px; font-variant:small-caps;}
#header a{color:#F8F9F3; background-color:#03274B;}
#header p{margin-top:4px;}


/* ----------------------------------------------Menu Top-------------------------------------*/

#menumain{
	color:#F8F9F3;
	background-color:#072C53;
	border-top:1px solid #2B4D71;
	border-bottom:1px solid #2B4D71;
	}

#menutop{
	position:relative;
	margin:0 auto;
	display:block;
	width:960px;
	font-size:12px;
	z-index:1000;
	}

#menutop ul, #menutop li{
	margin:0;
	padding:0;
	list-style:none;
	}

#menutop li{
	float:left;
	margin-right:30px;
	}

#menutop li li{
	margin-right:0;
	}

#menutop li a:link, #menutop li a:visited, #menutop li a:hover{
	display:block;
	margin:0;
	padding:15px 0;
	color:#F8F9F3;
	background-color:#072C53;
	text-transform:uppercase;
	}

#menutop ul ul li a:link, #menutop ul ul li a:visited{
	border:none;
	}

#menutop li a:hover, #menutop li.active a{
	color:#5F8EC2;
	background: #072C53;
	}

#menutop li li a:link, #menutop li li a:visited{
	width:150px;
	float:none;
	margin:0;
	padding:7px 10px;
	font-size:12px;
	font-weight:normal;
	color:#F8F9F3;
	background-color:#072C53;
	background-image:none;
	border:none;
	}

#menutop li li a:hover{
	color:#5F8EC2;
	background-color:#072C53;
	}

#menutop ul ul{
	z-index:9999;
	position:absolute;
	left:-999em;
	height:auto;
	width:170px;
	border-left:1px solid #2B4D71;
	border-bottom:1px solid #2B4D71;
	}

#menutop ul ul a{
	width:140px;
	}

#menutop li:hover ul{
	left:auto;
	}

#menutop li:hover{
	position:static;
	}

#menutop li.last{
	margin-right:0;
	}

/* ----------------------------------------------Content-------------------------------------*/

#contentmain{
	color:#777777;
	background-color:#F8F9F3;
	border-bottom:2px solid #03274B;
	}

#content{
	padding:30px 0;
	}

#content a{
	color:#591F58;
	background-color:#F8F9F3;
	}

/* ----------------------------------------------Copyright-------------------------------------*/

#copyright{
	padding:15px 0;
	border-top:1px solid #2B4D71;
	}

#copyright p{
	margin:0;
	padding:0;
	}

#copyright, #copyright a{
	color:#7F99A9;
	background-color:#03274B;
	}
#homepage{
	display:block;
	width:100%;
	line-height:1.6em;
	}
	
/* ----------------------------------------------Login-------------------------------------*/

form, fieldset, legend{
	margin:0;
	padding:0;
	border:none;
	}

legend{
	display:none;
	}

input, textarea, select{
	font-size:12px;
	font-family:Georgia;
	}

#login{
	float:right;
	width:380px;
	margin:8px 0 0 0;
	padding:0;
	}

#login div{
	float:left;
	margin:8px 0 0 10px;
	font-size:11px;
	text-transform:uppercase;
	}

#login input{
	display:block;
	float:right;
	width:165px;
	height:20px;
	margin:0 0 10px 10px;
	padding:0 5px 0 10px;
	color:#5F8EC2;
	background: #2B4D71;
	border:none;
	}

#login input#connexion{
	width:80px;
	height:20px;
	margin:0;
	padding:0;
	cursor:pointer;
	background:none;
	float:right;
	}
	
/* ----------------------------------------------Table-------------------------------------*/
table{
	width:100%;
	border-collapse:collapse;
	table-layout:auto;
	vertical-align:center;
	margin-bottom:15px;
	border:1px solid #CCCCCC;
	}

table thead th{
	color:#FFFFFF;
	background-color:#04182F;
	border:1px solid #CCCCCC;
	border-collapse:collapse;
	text-align:center;
	table-layout:auto;
	}

table tbody td{
	border-collapse:collapse;
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	color:#666666;
	}
	
table thead th, table tbody td{
	padding:5px;
	border-collapse:collapse;
	}
	
table tbody tr:nth-child(even){
	background:#E8E8E8;
	}
	
table tbody tr:nth-child(odd){
	background:#F7F7F7;
	}
	
/* ----------------------------------------------Formulaire-------------------------------------*/

form{
	display:block;
	width:100%;
	}

form input{
	width:170px;
	padding:2px;
	border:1px solid #CCCCCC;
	margin:5px 5px 0 0;
	}

form textarea{
	width:98%;
	border:1px solid #CCCCCC;
	padding:2px;
	overflow:auto;
	}

form p{
	margin:5px 0;
	}

form #submit, form #reset{
	margin:0;
	padding:5px;
	color:#666666;
	background-color:#F7F7F7;
	border:1px solid #CCCCCC;
	cursor:pointer;
	}
	
form #submit:hover, form #reset:hover{
	color:#F7F7F7;
	background-color:#666666;
	}